<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ppb2.kalfian.covidtracker">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature android:name="android.hardware.bluetooth" android:required="true"/>

    <uses-feature
        android:name="android.hardware.location"
        android:required="true"
        />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidTracker">
        <activity android:name=".modules.dashboard.VaccineDetailActivity" android:screenOrientation="landscape"/>

        <service
            android:name=".utils.fallservice.FallService"
            android:enabled="true" />

        <activity android:name=".modules.setting.EmergencyActivity" />
        <activity android:name=".modules.setting.SettingActivity" />
        <activity android:name=".modules.history.CheckInHistoryActivity" />
        <activity android:name=".modules.dashboard.DashboardActivity" />
        <activity android:name=".modules.auth.RegisterActivity" />
        <activity android:name=".modules.auth.LoginActivity" />
        <activity
            android:name=".modules.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity android:name=".modules.setting.NotificationActivity" />
    </application>

</manifest>